html, body, .sidebar, #main-map, .map-wrap, .main-container, .sidebar-content {
  height: 100%;
}

.main-container {
  display: flex;
}

.sidebar, .map-wrap {
  transition: width 0.5s;
}

.sidebar {
  width: 80ex;
  position: relative;
  z-index: 1;
}

.sidebar-content {
  overflow-y: scroll;
  padding: 3rem;
}

.sidebar-toggle {
  display: block;
  font-size: 1.2em;
  position: absolute;
  top: 40%;
  right: -0;
  left: 100%;
  padding: 0.5em 1em 0.5em 0.4em;
  background: white;
  border-radius: 0 5px 5px 0;
  border: 1px solid gray;
  border-left: none;
  color: inherit;
}

.map-wrap {
  position: relative;
  width: calc(100% - 80ex);
  z-index: 0;
}

#main-map {
  width: 100%;
}

.main-container--sidebar-hidden .map-wrap {
  width: 100%;
}

.main-container--sidebar-hidden .sidebar {
  width: 0px;
}

.main-container--sidebar-hidden .sidebar-content {
  display: none;
}
